.icon {
  width     : px-rem(32px);
  height    : px-rem(32px);

  &-small {
    @include width-height(px-rem(15px));
  }

  &-medium {
    @include width-height(px-rem(30px));
  }

  &-large {
    @include width-height(px-rem(60px));
  }

  &-light {
    fill: #fff;
  }

  &-success {
    fill: var(--accent-green)
  }

  &-high-emphasis {
    fill: var(--text-emphasis-high)
  }

  &-medium-emphasis {
    fill: var(--text-emphasis-medium)
  }
}